.programmeSeance {
    border: 1px solid gray;
    padding-left: 10px;
    margin: 10px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.task span {
    padding-right: 10px;
}

.actions {
    color: blue;
}